footer {
    margin-top: 20px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer p{
    font-size: 25px;
    font-weight: 500;
}

.container {
    margin-top: 50px;
}

.container a{
    margin-bottom: 0px;
}

table {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 10px;
}

td {
    padding: 10px 0px 10px 0px;
}