footer{
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}
table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.navbar {
    background-color: #f55384; 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    color: white;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}
.navbar .menu {
    display: flex;
}
.content {
    padding: 20px;
    text-align: center;
}